/* header */

.page_header {
    background-image: url(../images/layer_1.jpg);
}

/* .container {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
} */

.page_div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.nav_part {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 270px;
}

.menu {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.menu_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    padding-right: 21px;
}

.menu_link {
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.6); 
    padding-bottom: 47px;
}

.menu_link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header_center {
    margin-top: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_one {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 22px 0;
}

.title_one_span {
    display: inline;
    color: #18CFAB;
}

.title_two {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin: 0 0 22px 0;
}

.title_three {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin: 0 0 130px 0;
}

.header_center_hh {
    margin-bottom: 243px;
}

.buttom {
    border-radius: 4px;
    border: none;
    border-top: 4px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 16px 18px 16px 17px;

}

.b_left {
    background: #18CFAB;
    margin-right: 26px;
}

.b_right {
    background: #00CBF6;
}


/* main */

.blok {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.blok_text {
    width: 482px;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.dark {
    background: #1C2A33;
    color: #18CFAB;
}

.green {
    background: #18CFAB;
    color: #FFFFFF;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 110px;
}

.text_dark {
    margin-top: 48px;
}

.text_green {
    margin-top: 58px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_services {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 83px;
    position: relative;
}

.our_services::before {
    content: "";
    position: absolute;
    width: 76px;
    bottom: -26px;
    right: 80px;
    border-bottom: 2px solid #18CFAB;
}

.our_services::after {
    content: "";
    position: absolute;
    width: 76px;
    top: 69px;
    left: 85px;
    border-top: 2px solid #18CFAB;
}

.web {
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 70px 0 0 0;
}

.web_menu_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    width: 195px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web_menu_link {
    text-decoration: none; 
    color: #717171;
}

.web_one {
    background: #18CFAB;
    border: 1px solid #18CFAB;
}

.web_one_link {
    color: #FFFFFF;
}

.web_menu_item:hover {
    border: 2.5px solid #18CFAB;
    box-sizing: border-box;
}

.rectangle_60 {
    display: flex;
    justify-content: center;
    margin-right: 940px;
}

.design {
    display: flex;
    justify-content: center;
    margin: 13px 0 91px 13px;
}

.design_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    max-width: 952px;
    margin: 0 0 0 15px;
}

.page_div_two {
    background-image: url(../images/layer_2.jpg);
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.install_now {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    margin: 127px 0 0 0;
}

.smooth {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 13px 0 67px 0;
}

.purchase_now {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    border: none;
    border-top: 4px solid #FFFFFF;
    background: #18CFAB;
}

.purchase_item {
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
}

.color {
    background: #E9EDEF;
}

.our_amazing {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 96px;
    position: relative;
}

.our_amazing::before {
    content: "";
    position: absolute;
    width: 76px;
    bottom: -26px;
    right: 140px;
    border-bottom: 2px solid #18CFAB;
}

.our_amazing::after {
    content: "";
    position: absolute;
    width: 76px;
    top: 69px;
    left: 145px;
    border-top: 2px solid #18CFAB;
}

.work {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 70px 0 71px 0;
}

.work_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work_item:hover {
    border: 2.5px solid #18CFAB;
}

.work_one {
    width: 79px;
    height: 59px;
    
}

.work_two {
    width: 143px;
    height: 59px;
}

.work_three {
    width: 117px;
    height: 59px;
}

.work_four {
    width: 137px;
    height: 59px;
}

.work_five {
    width: 106px;
    height: 59px;
}

.work_link {
    text-decoration: none; 
    color: #717171;
}

.work_item:hover .work_link {
    color: #18CFAB;
}

.container_photo {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.menu_photo {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

.link_photo {
    position: relative;
    text-decoration: none;
}

.img_photo {
    object-fit: cover;
    display: block;
}

.div_photo {
    display: none;
    position: absolute;
    width: 285px;
    height: 211px;
    left: 0px;
    top: 0px;
    margin-top: 0;
    border-top: 4px solid #18CFAB;
    background: #E9EDEF;
}

.div_photo_two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_photo:hover .div_photo {
    display: block;
}

.svg {
    margin-top: 40px;
}

.text_photo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #18CFAB;
    margin: 37px 0 0 0;
}

.text_photo_one {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
    margin: 0;
}

.div_button {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.button_color {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    border: none;
    background: #18CFAB;
}

.link_color {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load_more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin:4px 0 0 15px;
}

.color_two {
    display: flex;
    justify-content: center;
}

.breaking_news {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 101px;
    position: relative;
}

.breaking_news::before {
    content: "";
    position: absolute;
    width: 76px;
    bottom: -26px;
    right: 110px;
    border-bottom: 2px solid #18CFAB;
}

.breaking_news::after {
    content: "";
    position: absolute;
    width: 76px;
    top: 69px;
    left: 107px;
    border-top: 2px solid #18CFAB;
}

.container_photo_two {
    display: flex;
    justify-content: center;
    margin-bottom: 202px;
}

.menu_news {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 1160px;
    margin: 0;
    padding: 0;
}

.news_link {
    text-decoration: none;
}

.news_img_one {
    background-image: url(../images/layer_47.jpg);
    width: 263px;
    height: 208px;
}

.news_img_two {
    background-image: url(../images/layer_50.jpg);
    width: 263px;
    height: 208px;
}

.news_img_three {
    background-image: url(../images/layer_51.jpg);
    width: 263px;
    height: 208px;
}

.news_img_four {
    background-image: url(../images/layer_52.jpg);
    width: 263px;
    height: 208px;
}

.news_img_five {
    background-image: url(../images/layer_53.jpg);
    width: 263px;
    height: 208px;
}

.news_img_six {
    background-image: url(../images/layer_54.jpg);
    width: 263px;
    height: 208px;
}

.news_img_seven {
    background-image: url(../images/layer_55.jpg);
    width: 263px;
    height: 208px;
}

.news_img_eight {
    background-image: url(../images/layer_56.jpg);
    width: 263px;
    height: 208px;
}

.div_news_color {
    width: 70px;
    height: 68px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 193px;
}

.news_item:hover .div_news_color {
    background: #18CFAB;
}

.day_news {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}

.blog_post {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin: 5px 0 0 25px;
}

.news_item:hover .blog_post {
    color: #18CFAB;
}

.comment {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin: 0 0 44px 25px;
}

.mountains {
    background-image: url(../images/layer_3.jpg);
    height: 853px;
    
}

.mountains_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 98px;
    margin-bottom: 99px;
    position: relative;
}

.what::before {
    content: "";
    position: absolute;
    width: 76px;
    bottom: -26px;
    right: 270px;
    border-bottom: 2px solid #18CFAB;
}

.what::after {
    content: "";
    position: absolute;
    width: 76px;
    top: 69px;
    left: 270px;
    border-top: 2px solid #18CFAB;
}

.integer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    width: 1160px;
    margin: 36px 0 37px 0;
}

.hasan_ali {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    margin: 0;
}

.ux_designer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 50px;
}

.menu_ux {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 57px;
    padding: 0;
}

.ux_item {
    margin: 0 19px 0 19px;
}

.ux_item_forma {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}

.ux_link_forma {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 0 0;
}

.ux_item_forma:hover {
    background: #18CFAB;
}

.gallery {
    display: flex;
    justify-content: center;
}

.best_images {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: 108px 0 115px 0;
    position: relative;
}

.best_images::before {
    content: "";
    position: absolute;
    width: 76px;
    bottom: -26px;
    right: 170px;
    border-bottom: 2px solid #18CFAB;
}

.best_images::after {
    content: "";
    position: absolute;
    width: 76px;
    top: 69px;
    left: 170px;
    border-top: 2px solid #18CFAB;
}

.menu_gallery {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-height: 1000px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery_item {
    margin: 0 20px 17px 0;
}

.menu_gallery_one {
    display: flex;
    list-style: none;
    padding: 0;
}
.gallery_color {
    width: 181px;
    height: 169px;
    background: rgba(0, 0, 0, 0.64);
    position: relative;
    display: flex;
    align-items: center;
}

.gallery_image_color {
    position: absolute;
}

.gallery_image_one {
    margin-right: 3px; 
}

.color_blue {
    width: 27px;
    height: 25px;
    background: #14B9D5;
    margin-left: 20px;
}

.color_blue_img {
    margin: 8px 0 0 9px;
}

.menu_gallery_two {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-height: 385px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.gallery_image_two {
    margin: 0 3px 0 0;
    
}

.gallery_button {
    margin: 32px 0 80px 0;
}

/* footer */

.div_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    background: #22353F;
}

.copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.theham {
    color: #18CFAB;
}


























