body, html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    background-color: #000;
    overflow: hidden;
}
.container {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}
.container:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, #000 0%, transparent 100%);
    pointer-events: none;
}
.scroll_text {
    font-weight: 700;
    color: #FFF000;
    position: absolute;
    top: 100%;
    /* animation: scroll 40s linear infinite; */
}
.item {
    text-align: center;
    margin-bottom: 15px;

}
.item_2 {
    margin-bottom: 40px;
}

@keyframes scroll {
    0% { 
        top: 100%; 
    }

    100% { 
        top: -170%; 
    }
}



