*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

a {
    text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
    max-width: 100%;
}

.container {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}


.menu {
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0; 
}

.menu_item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 72px;
}

.menu_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
}


.intro {
    text-align: center;
    margin-top: 26px;
}

.intro_title {
    margin-top: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    text-transform: uppercase;
}

.intro_text_lorem {
   margin-left: 68px;
   margin-right: 68px;
   margin-top: 38px;
   font-weight: 300;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #373737;
}

.intro_text_vestibulum {
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 28px;
    margin-bottom: 66px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
}

.intro_buttom {
    background: #FF0000;
    border-radius: 4px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 43px;
    padding-right: 44px;
    border: #FF0000;
}

.intro_get {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.footer_text {
    margin-right: 105px;
    margin-top: 82px;
    padding-bottom: 29px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
}