body {
    background-color: #000;
    overflow: hidden;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    margin: 40% 0 0 0;
    position: relative;
}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    /* font-size: 350%; */
    margin: 0 auto;
    perspective: 550px;
}

.scroll_text {
    color: #FFF000;
    font-size: 70px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite;
}

.item {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 0;
        transform: translateZ(0) rotateX(20deg);
    }
    100% {
        top: -7500px;
        transform: translateZ(-2500px) rotateX(21deg);
    }
}
