.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.page_div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 70px;
    background: #313131;
}

.nav_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1900px;
}

.logo {
    margin: 22px 27px 21px 27px;
}

.logo_text {
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Open Sans;
}

.menu {
    list-style: none;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-transform: uppercase;
}

.menu_item {
    font-family: Open Sans;
    font-style: 300;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.menu_link:hover {
    color: #14B9D5;
}

.menu_link {
    text-decoration: none; 
    color: #FFFFFF; 
    text-align: center; 
    padding-left: 17px; 
    padding-right: 17px;
}

.fa_search {
    padding: 27px 26px 25px 26px;
    background-color: #000000;
}

.title {
    margin-top: 0;
    padding-top: 164px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.header_center {
    background-image: url(../imags/header_background.png);
}

.header_center_hh {
    margin-top: 44px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

.buttom {
    border-radius: 4px;
    padding: 17px 19px;
    left: 0px;
    top: 0px;
}

.b_left {
    background: #89CA62;
    margin-right: 20px;
}

.b_right {
    background: #14B9D5;
}

.buttom_item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF; 
}

/* main */

.page_main {
    background: #F2F2F2;
}

.title_hh {
    margin-top: 0;
    padding-top: 49px;
    padding-bottom: 52px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;  
}

.posts {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-height: 900px;
    flex-wrap: wrap;
}

.posts_item {
    margin-bottom: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.posts_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}

.posts_text_snare {
    text-decoration: none;
}

.parallax {
    background-image: url(../imags/Layer.jpg);
    height: 588px;
}

.our_most {
    padding-top: 106px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our_most::after {
    content: "";
    display: block;
    margin: 87px auto 0 auto;
    height: 3px;
    width: 60px;
    background: #18B4CF;
}

.main_list {
    margin-top: 106px;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 55px;
    list-style: none;
}

.main_h2 {
    margin-top: 49px;
    margin-bottom: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.img_list {
    padding-left: 0;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(7, min-content);
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.main_color {
    background-color: #ffffff;
}

.wrapper {
    display: grid;
    justify-content: center;
    margin-top: 51px;
    padding-bottom: 71px;
    grid-template-columns: 302px 35px 146px 60px 11px 60px 146px 60px 36px 35px 277px;
    grid-template-rows: 79px 140px 40px 44px 259px 52px 104px 44px 259px 52px 104px 44px 79px 140px 40px;
}

.main_menu_img {
    width: 100%;
}

.main_menu_header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: grid;
    align-items: flex-end;
    text-align: right;
    text-decoration: none;
    color: #353A3D;
    margin-right: 24px;
}

.main_menu_wrapper {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

.wrapper_link {
    text-decoration: none;
}

.main_menu_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: grid;
    align-items: center;
    text-align: right;
    text-decoration: none;
    color: #5B6469;
    margin-right: 24px;
    padding-left: 14px;
}

.wrapper_1 {
    grid-area: 1 / 1 / 4 / 4;
}

.wrapper_2 {
    grid-area: 1 / 4 / 2 / 10;
    background-color: #F9F7F7;
}

.wrapper_3 {
    grid-area: 2 / 4 / 4 / 10;
    background-color: #F9F7F7;
}

.wrapper_4 {
    grid-area: 1 / 11 / 3 / 12;
    background-color: #F9F7F7;
}

.wrapper_5 {
    grid-area: 3 / 11 / 4 / 12;
    background-color: #F9F7F7;
}

.wrapper_6 {
    grid-area: 5 / 1 / 6 / 6;
}

.wrapper_7 {
    grid-area: 6 / 1 / 7 / 6;
    background-color: #F9F7F7;
}

.wrapper_8 {
    grid-area: 7 / 1 / 8 / 6;
    background-color: #F9F7F7;
}

.wrapper_9 {
    grid-area: 5 / 7 / 6 / 12;
}

.wrapper_10 {
    grid-area: 6 / 7 / 7 / 12;
    background-color: #F9F7F7;
}

.wrapper_11 {
    grid-area: 7 / 7 / 8 / 12;
    background-color: #F9F7F7;
}

.wrapper_12 {
    grid-area: 9 / 1 / 10 / 6;
}

.wrapper_13 {
    grid-area: 10 / 1 / 11 / 6;
    background-color: #F9F7F7;
}

.wrapper_14 {
    grid-area: 11 / 1 / 12 / 6;
    background-color: #F9F7F7;
}

.wrapper_15 {
    grid-area: 9 / 7 / 10 / 12;
}

.wrapper_16 {
    grid-area: 10 / 7 / 11 / 12;
    background-color: #F9F7F7;
}

.wrapper_17 {
    grid-area: 11 / 7 / 12 / 12;
    background-color: #F9F7F7;
}

.wrapper_18 {
    grid-area: 13 / 1 / 15 / 2;
    background-color: #F9F7F7;
}

.wrapper_19 {
    grid-area: 15 / 1 / 16 / 2;
    background-color: #F9F7F7;
}

.wrapper_20 {
    grid-area: 13 / 3 / 16 / 9;
    background-color: #F9F7F7;
}

.wrapper_21 {
    grid-area: 13 / 9 / 14 / 12;
    background-color: #F9F7F7;
}

.wrapper_22 {
    grid-area: 14 / 9 / 16 / 12;
    background-color: #F9F7F7;
}

/* footer */


.footer_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.page_footer {
    height: 80px;
    background: #000000;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    padding-top: 29px;
}