*,
*::after,
*::before {
    box-sizing: border-box;
}

.page_body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.33;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    display: flex; 
    font-weight: 400; 
    font-size: 40px; 
    color: #000000; 
    text-align: center; 
    text-decoration: none;
}

.logo_color {
    color: #5AC5F2;
}

.menu {
    display: flex; 
    justify-content: center; 
    list-style: none; 
    border: 1px solid #35444F; 
    background-color: #35444F ; 
    width: 1283px; 
    height: 72px;
}

.menu_item {
    padding-top: 26px; 
    padding-bottom: 19px; 
    border-left: 1px solid #FFFFFF; 
    border-right: 1px solid #FFFFFF; 
    vertical-align: middle; 
    text-align: center;
    transition: background-color 1s;
}

.menu_link {
    text-decoration: none; 
    color: #FFFFFF; 
    text-align: center; 
    padding-left: 40px; 
    padding-right: 40px;  
    font-size: 24px; 
}

/* main */

.main_container {
    display: flex; 
    justify-content: top;
}

.main_aside {
    display: flex; 
    justify-content: center;
} 

.menu_main {
    list-style: none; 
    width: 344px; 
    height: 394px; 
    margin-top: 48px; 
    border: 1px solid #000000; 
    padding: 0;
} 

.menu_main_item {
    display: flex;
}

.menu_main_list {
    text-decoration: none;
    width: 100%;
    padding: 26px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    transition: padding 1s, color 1.5s;
}

.main_img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px; 
    height: 529px; 
    margin-left: 52px; 
    margin-top: 48px; 
}

.imags {
    padding-left: 285px;
    padding-right: 285px;
    border: 1px solid #000000;
    object-fit: contain;
    transition: padding 1s;
    display: block;
    margin-bottom: 3px;
}

.main_text {
    width: 885px;
    margin-left: 52px;
}

.main_text_p {
    font-size: 18px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #2C2C2C;
}

/* footer */

.menu_footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    list-style: none; 
    border: 1px solid #63696E7A; 
    background-color: #63696E7A;
}

.menu_footer_link {
    text-decoration: none; 
    color: #0C1927; 
    font-size: 28px; 
    line-height: 28px;
    transition: color 0.8s, border-bottom 1s;
}

.copyright {
    padding: 20px 40px 20px 135px;
    text-decoration: none; 
    color: #0C1927; 
    font-size: 24px; 
    line-height: 24px;
}

/* hover */

.menu_item:hover { 
    background: #222F3A;   
} 
 
.menu_main_list:hover { 
    color: #000;
    padding-left: 80px;
    background-color: #dbdbdb;
} 
  
.menu_main_item:hover { 
    padding-bottom: 13px; 
    color: rgb(12, 108, 153); 
    width: 100%;
    box-sizing: border-box;
} 
 
.imags:hover { 
    padding-left: 240px;
    padding-right: 240px;
}

.menu_footer_link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;

    
}