img,
picture,
iframe,
canvas,
svg {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.background {
    background-size: cover;
    height: 100vh;
    background-image: url(../image/background.jpg);
}

@font-face{
    font-family: "Ubuntu";
    src: url(../font/Ubuntu-Bold.woff2);
    font-weight: bold;
    font-display: swap;
}

@font-face{
    font-family: "Ubuntu";
    src: url(../font/Ubuntu-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

/* header */

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding: 0 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
}

.header:hover {
    color: #01813F;
}

.header_end {
    display: flex;
    align-items: center;
}

.vector_svg {
    margin-right: 24px;
}

.calendar_svg {
    margin-right: 27px;
}

.vector_icon:hover {
    fill: #01813F;
}

.welcome {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 27px;
}

.link {
    font-style: normal;
    color: #FFFFFF;
}

.link:hover {
    color: #01813F;
}

/* main */

.contact_form {
    width: 444px;
    margin: 40px auto 0;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.contact_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 59px;
    padding: 31px 0 15px 0;
}

.block {
    display: flex;
    align-items: center;
}

.block_color {
    background: #3CB878;
    width: 18px;
    height: 18px;
    margin-right: 43px;
}

.sign_up {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #434343;
}

.log_in {
    margin: 0;  
}

.link_text {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #3CB878;
}

.contact_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 31px 60px;
}

.button_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.facebook {
    background: #305DB8;
    padding: 0 22px 0 17px;
}

.facebook:hover {
    background: #022263;
}

.text_facebook {
    padding-left: 18px;
}

.google {
    background: #DF4A32;
    padding: 0 27px 0 12px;
}

.google:hover {
    background: #AB1F09;
}

.text_google {
    padding-left: 30px;
}

.facebook::before {
    content: url(../image/facebook.svg);
    border-right: 2px solid #0A162F1a;
    mix-blend-mode: normal;
    padding-right: 18px;
}

.google::before {
    content: url(../image/google.svg);
    border-right: 2px solid #2B0D091a;
    mix-blend-mode: normal;
    padding-right: 7px;
}

.or {
    display: block;
    text-align: center;
    position: relative;
}

.or::before,
.or::after {
    content: "";
    width: 152px;
    position: absolute;
    height: 100%;
}

.or::after {
    border-bottom: 2px solid #F2F2F2;
    right: 60px;
    bottom: 6px;
}

.or::before {
    border-top: 2px solid #F2F2F2;
    top: 10px;
    left: 60px;
}

.form_label {
    display: block;
    margin-top: 16px;
    text-align: center;
}

.form_element {
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
    width: 302px;
    height: 44px;
    padding-left: 20px;
}

.border {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.form_agreement {
    display: flex;
    align-items: center;
    padding: 12px 0 20px 61px;
}

.agreement {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
}

.agreement_color {
    margin: 2px 3px 3px 3px;
}

.agreement_color:hover {
    stroke: #01813F;
    stroke-width: 2px;
}

.text {
    margin: 0;
    padding-left: 8px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #434343;
}

.button_center {
    display: flex;
    justify-content: center; 
}

.button_submit {
    width: 324px;
    height: 46px;
    margin-bottom: 38px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.button_submit:hover {
    background: #01813F;
}

.link_text:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}