*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
}


.logo {
    display: flex; 
    font-weight: 400; 
    font-size: 40px; 
    color: #000000; 
    text-align: center; 
    text-decoration: none;
}

.logo_color {
    color: #5AC5F2;
}

.menu {
    display: flex; 
    justify-content: center; 
    list-style: none; 
    border: 1px solid #35444F; 
    background-color: #35444F ; 
    width: 1283px; 
    height: 72px;
}

.menu_item {
    padding-top: 26px; 
    padding-bottom: 19px; 
    border-left: 1px solid #FFFFFF; 
    border-right: 1px solid #FFFFFF; 
    vertical-align: middle; 
    text-align: center;
}

.menu_link {
    text-decoration: none; 
    color: #FFFFFF; 
    text-align: center; 
    padding-left: 40px; 
    padding-right: 40px;  
    font-size: 24px; 
}

/* main */

.main_container {
    display: flex; 
    justify-content: top;
}

.main_aside {
    display: flex; 
    justify-content: center;
} 

.menu_main {
    list-style: none; 
    width: 344px; 
    height: 394px; 
    margin-top: 48px; 
    border: 1px solid #000000; 
    padding: 0;
} 

.menu_main_item {
    width: 304px; 
    padding-top: 26px; 
    padding-bottom: 26px; 
    padding-left: 40px;
}

.menu_main_list {
    text-decoration: none; 
    font-size: 27px; 
    line-height: 27px; 
    color: #485863; 
}

.main_img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px; 
    height: 529px; 
    margin-left: 52px; 
    margin-top: 48px; 
    border: 1px solid #000000;
}

.image {
    display: flex; 
    justify-content: center; 
    width: 320px; 
    height: 381px; 
    padding-top: 75px;  
    padding-left: 297px;  
    padding-right: 297px; 
    padding-bottom: 75px;
}

.main_text {
    width: 885px;
    margin-left: 52px;
}

.main_text_p {
    font-size: 18px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #2C2C2C;
}

/* footer */

.menu_footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    list-style: none; 
    border: 1px solid #63696E7A; 
    background-color: #63696E7A;
}

.menu_footer_link {
    text-decoration: none; 
    color: #0C1927; 
    font-size: 28px; 
    line-height: 28px;
}

.copyright {
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 135px; 
    padding-right: 40px; 
    text-decoration: none; 
    color: #0C1927; 
    font-size: 24px; 
    line-height: 24px;
}

/* hover */

.top-button:hover{ 
    background: #222F3A; 
     
} 
 
.left-button:hover{ 
    background: #DBDBDB; 
} 
 
.aside-link:hover{ 
    padding-left: 38px; 
    color: #000; 
} 
 
.menu_main_item:hover{ 
    padding-bottom: 13px; 
    color: rgb(12, 108, 153); 
    width: 100%;
    box-sizing: border-box;
} 
 
.zoom-img:hover{ 
     transform: scale(1.2);  
}

.bottom-button:hover{
    color: rgb(12, 108, 153);
    border-bottom: 1px solid rgb(12, 108, 153);
}