*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

a {
    text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
    max-width: 100%;
}

.background {
    background-image: url(../imags/background.jpg);
    background-size: cover;
    height: 100vh;
}

.container {
    width: 1030px;
    margin: 0 auto;
    
}

/* header */

.page_header {
    padding-top: 46px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.logo_milan {
    display: inline-block;
    background: url(../imags/logo.png) no-repeat;
    width: 155px;
    height: 44px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    line-height: 0.8;
    color: #FFFFFF;
}

.logo_holidays {
    font-size: 18px;
    line-height: 18px;
}

.logo_milan:hover {
    background: url(../imags/logo2.png) no-repeat;
    color: #F26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47px;
}

.mail {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.phone {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: end;
    color: #FFFFFF;
}

.mail:hover {
    color: #F26522;
}

.phone:hover {
    color: #F26522;
}

/* main */

.main_menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 62px;
    padding: 0;
}

.menu_link {
    position: relative;
}

.menu_img {
    object-fit: cover;
    display: block;
    border: 2px solid white;
    border-image: linear-gradient(to bottom, rgb(225, 225, 225), rgba(0, 0, 0, 0)) 1;
    box-shadow: 2px 10px 15px 5px rgba(0, 0, 0, 0.9);
}

.menu_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 37px;
    text-align: center;
    color: #FFFFFF;
}

.menu_description {
    display: none;
    position: absolute;
    width: 300px;
    height: 55px;
    left: 0px;
    top: 0px;
    margin-top: 165px;
    background: #F26522; 
}

.from {
    display: block;
    padding-top: 7px;
    margin-left: 16px;
    text-align: initial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.block {
    margin-top: 8px;
}

.price {
    margin-left: 16px;
    padding-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.details {
    margin-left: 128px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.details::after {
    content: url(../imags/Vector.svg);
    margin-left: 16px;
}

.menu:hover .menu_description {
    display: block;
}

.menu:hover .text_color {
    color: #F26522;
}

.text_color:hover  {
    color: #F26522;
}

/* footer */

.page_footer {
    margin-top: 39px;
}

.footer_text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}
